@{
    ViewData["Title"] = "Capas";
}
<h1>@ViewData["Title"]</h1>


        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Capa simples para violão clássico</p>
<p>Valor: 39,00 reais</p>
<p><img src="/images/case.png" width=100></p>



<a asp-action="Produtos">Voltar</a>

  
