@{
    ViewData["Title"] = "Cordas";
}
<h1>@ViewData["Title"]</h1>


        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Violão Clave Nylon Estudante</p>
<p>Valor: 259,00 reais</p>
<p><img src="/images/violao.png" width=100></p>

<a asp-action="Produtos">Voltar</a>
