@{
    ViewData["Title"] = "Espaço Musical";
}

<div class="text-center">
   <div class="text-center">
    <img class="class" src="@Url.Content("~/images/espacomusical.png")" alt="texto" title="texto" width="600"/>
   </div>
    <p><img src="/images/capa.png" width=500></p>
    <p>Aqui você encontra tudo o que precisa para o seu Show!</p>


</div>
