@{
    ViewData["Title"] = "Outros";
}
<h1>@ViewData["Title"]</h1>


        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Camiseta da música</p>
<p>Valor: 40,00 reais</p>
<p><img src="/images/camiseta.png" width=100></p>
<p>cabo P10-P10 1m</p>
<p>Valor: 25,00 reais</p>
<p><img src="/images/cabo.png" width=100></p>

<a asp-action="Produtos">Voltar</a>
