@{
    ViewData["Title"] = "Percussão";
}
<h1>@ViewData["Title"]</h1>


         <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Meia Lua Spanking</p>
<p>Valor: 32,00 reais</p>
<p><img src="/images/meialua.png" width=100></p>

<a asp-action="Produtos">Voltar</a>