@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>


<H2>
    <div class="text-center">
        <p>O Espaço Musical tem uma infinidade de instrumentos e acessórios para você!</p>
</div>
</H2>
<li><a asp-action="Cordas">Cordas</a></li>
<li><a asp-action="Sopro">Sopro</a></li>
<li><a asp-action="Percussao">Percussão</a></li>
<li><a asp-action="Teclas">Teclas</a></li>
<li><a asp-action="Capas">Capas</a></li>
<li><a asp-action="Suportes">Suportes</a></li>
<li><a asp-action="Outros">Outros</a></li>
