@{
    ViewData["Title"] = "Sopro";
}
<h1>@ViewData["Title"]</h1>


        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Flauta doce Andaluz Germânica</p>
<p>Valor: 16,00 reais</p>
<p><img src="/images/flauta.png" width=100></p>

<a asp-action="Produtos">Voltar</a>
