@{
    ViewData["Title"] = "Suportes";
}
<h1>@ViewData["Title"]</h1>

        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Pedestal para 2 microfones Vector</p>
<p>Valor: 150,00 reais</p>
<p><img src="/images/pedestal.png" width=100></p>

<a asp-action="Produtos">Voltar</a>

