@{
    ViewData["Title"] = "Teclas";
}
<h1>@ViewData["Title"]</h1>


        <H2>
            <div class="text-center">
                <p>Escolha seu instrumento!</p>
                
        </H2>

<p>Teclado Infantil Casio SA-46</p>
<p>Valor: 339,00 reais</p>
<p><img src="/images/teclado.png" width=100></p>

<a asp-action="Produtos">Voltar</a>
